/* CSS file */
@namespace s "library://ns.adobe.com/flex/spark";
@namespace mx "library://ns.adobe.com/flex/mx";


mx|Panel
{
	backgroundColor: #F3F3F3;
	contentBackgroundColor: #F3F3F3;
	dropShadowVisible: false;
}
	